<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="Permission.BookManagerService"/>
    <uses-permission android:name="Permission.BookContentProvider"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="Permission.BookManagerService"
        android:protectionLevel="normal"/>
    <permission
        android:name="Permission.BookContentProvider"
        android:protectionLevel="normal"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoAction">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.test.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".MainHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolBarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".process.OneActivity"
            android:process=":OneActivityProcess"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".process.TwoActivity"
            android:process="com.example.test.TwoActivityProcess"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.MessengerService"
            android:process=":service">
        </service>

        <activity android:name=".process.MessengerActivity">
        </activity>

        <service
            android:name=".aidl.BookManagerService"
            android:process=":BookManagerService">
        </service>

        <activity android:name=".aidl.AidlActivity">
        </activity>

        <provider
            android:name=".provider.BookContentProvider"
            android:authorities="com.example.test.provider.BookContentProvider"
            android:permission="Permission.BookContentProvider"
            android:process=":BookContentProvider">
        </provider>

        <activity android:name=".provider.ProviderActivity">
        </activity>

        <service android:name=".socket.TCPServerService"
            android:process=":TCPServerService"
            >

        </service>
        <activity android:name=".socket.TCPClientActivity">
        </activity>
    </application>

</manifest>